
@import url('./null-style/style.css');

:root{
   --mcol1: whitesmoke;
   --mcol2: rgb(50, 135, 64);
   --mcol3: rgb(217, 93, 114);
   --mcol4: rgb(113, 53, 113);
   --mcol5: #;
   --mcol5: #;
    
   --coeficient-width: 1;
   --font-title: calc(26px * var(--coeficient-width));
   --font-text: calc(16px * var(--coeficient-width));
   --font-mini-title: calc(20px * var(--coeficient-width));
   --font-big-title: calc(65px * var(--coeficient-width));
    
   --text-col: rgb(54, 54, 54);
   --title-col: black;
    
   --breakpoint-1: 1300px; /* desctop */
   --breakepoint-2: 1024px; /* laptop */
   --breakpoint-3: 768px; /* tablet */
   --breakepoint-4: 480px; /* phone */
}

.wrapper {
   width: 100%;
   min-height: 100vh;
   top: 0;
   left: 0;
   background-color: cadetblue;
}
.main {
   width: 70%;
   margin: 0 auto;
   padding: 50px 0;
}
.content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
}
.content__left {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.content__section {
   width: 100%;
   padding: 30px;
}
.content__title {
   color: var(--text-col);
}
.title {
   font-size: var(--font-title);
}
.buttons-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}
.button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 20px;
   color: var(--title-col);
   text-transform: capitalize;
   background-color: var(--mcol1);
}
.button.button--active {
   background-color: var(--mcol2);
   color: var(--mcol1);
}
.inline {
   display: flex;
   align-items: center;
   gap: 20px;
   text-transform: capitalize;
}
.content__text {
   color: var(--mcol1);
}
.text {
   font-size: var(--font-text);
}
.content__checkbox {
   width: 80px;
   height: 40px;
   background-color: rgb(196, 196, 196);
   position: relative;
   border: 3px solid rgb(196, 196, 196);
}
.content__checkbox-index {
   width: 50%;
   height: 100%;
   background-color: whitesmoke;
   top: 0;
   left: 0;
}
.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.input {
   background-color: var(--mcol1);
   padding: 10px;
   display: flex;
   align-items: center;
   gap: 20px;
}
input{
   height: 100%;
   flex: 1 1 auto;
   color: var(--text-col);
   background-color: transparent;
   font-size: var(--font-text);
   font-weight: bold;
}
.input__icon {
   font-size: var(--font-title);
}
.bx-search {
   color: var(--mcol2);
}
.bx-x{
   color: rgb(210, 76, 76);
}
.output {
   width: 100%;
   height: 200px;
   background-color: var(--mcol1);
}
.output__item {
   display: flex;
   align-items: center;
   width: 100%;
   background-color: var(--mcol2);
   padding: 0px 20px;
   font-size: var(--font-title);
}
.check {
   background-color: var(--mcol1);
   width: 100%;
   padding: 15px;
   color: var(--text-col);
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   text-transform: capitalize;
}
.check__icon {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0px;
   color: var(--text-col);
}
.check__icon > *{
   font-size: 8px;
}
.grid {

}
.grid__count {
}
.grid__count-item {
}
.grid__content {
}
.grid__content-row {
}
.grid__content-item {
}
.content__types {
}
.type {
}
.content__info {
}
.info {
}
.info__item {
}
.info__small-text {
}
.small-text {
}
.info__icon {
}
.bxs-objects-horizontal-left {
}
.content__about {
}
.content__right {
}
.content__image {
}
.content__shedule {
}
.shedule {
}
.shedule__display {
}
.shedule__item {
}
.shedule__hour {
}
.shedule__main {
}
.shedule__lesson {
}
.shedule__type {
}
.shedule__teacher {
}
.shedule__place {
}